<footer class="footer">
    <div class="container row">
        <div class="footer-col">
            <br><br><br>
            <h4>Adir Amar</h4>
            <ul>
                <li><a href="mailto:adiram33@gmail.com">adiram33@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <br><br><br>
            <h4>Eti Ben Zur</h4>
            <ul>
                <li><a href="mailto:etibenzur3@gmail.com">etibenzur3@gmail.com</a></li>
            </ul>
        </div>
        <img src="{{logo}}" class="logo">
    </div>
</footer>