@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px; /* Adjust this value based on your footer height */
}

.content {
    height: 25vh;
}

.footer {
    background-color: #000000;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    max-width: 1170px;
    margin-left: 33%;
}

.row {
    display: flex;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #2b73bb;
    width: 50px;
    height: 2px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #DDD;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 7px;
}

.logo {
    width: 20%;
    height: 20%;
    margin-left: 25%;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
