<h1 class="text-center bg-primary text-white">{{title}}</h1>
<br>
<img [src]="picture" class="rounded mx-auto d-block">
<br>
<table class="table text-center">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Processor</th>
        <td>{{processor}}</td>
      </tr>
      <tr>
        <th scope="row">Ram</th>
        <td>{{ram}}GB</td>
      </tr>
      <tr>
        <th scope="row">Storage</th>
        <td>{{storage}}</td>
      </tr>
      <tr>
        <th scope="row">Screen</th>
        <td>{{screen}}</td>
      </tr>
      <tr>
        <th scope="row">Features</th>
        <td>{{features}}</td>
      </tr>
      <tr>
        <th scope="row">Height</th>
        <td>{{height}} cm</td>
      </tr>
      <tr>
        <th scope="row">Width</th>
        <td>{{width}} cm</td>
      </tr>
      <tr>
        <th scope="row">Depth</th>
        <td>{{depth}} cm</td>
      </tr>
      <tr>
        <th scope="row">Battery</th>
        <td>{{battery}}Wh lithium battery</td>
      </tr>
      <tr>
        <th scope="row">Warranty</th>
        <td>{{warranty}} Year</td>
      </tr>
    </tbody>
</table>
<br><br><br><br><br><br>

