  <ul class="nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: #2b73bb;"><b>Products by brand</b></a>
      <ul class="dropdown-menu">
        <a class="dropdown-item"  (click)="chooseAll()">All</a>
        <li><hr class="dropdown-divider"></li>
        <a class="dropdown-item"  (click)="chooseApple()">Apple</a>
        <a class="dropdown-item" (click)="chooseAsus()">Asus</a>
        <a class="dropdown-item" (click)="chooseDell()">Dell</a>
        <a class="dropdown-item" (click)="chooseLenovo()">Lenovo</a>
        <a class="dropdown-item" (click)="chooseMicrosoft()">Microsoft</a>
      </ul>
    </li>
  </ul>

