.container {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .bg-image {
    background: linear-gradient(to right, #667eea, #764ba2);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .display-4 {
    margin-top: 0; /* תוריד את המרווח */
  }
  
  .justify-content-center {
    margin-top: 0; /* תוריד את המרווח */
  }
  